@inject SignInManager<App_IdentityUser> signInManager

@inject IAuthorizationService authorizationService

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/images/logo.png" rel="icon">
    <environment include="Development">
        <link href="~/css/site.css" rel="stylesheet" />

        <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
        <script src="~/lib/jquery/jquery.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.js"></script>

        <script src="~/lib/jquery-validate/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    </environment>
    <environment exclude="Development">
        <link href="~/css/site.css" rel="stylesheet" />

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js" integrity="sha256-sPB0F50YUDK0otDnsfNHawYmA5M0pjjUf4TvRJkGFrI=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js" integrity="sha256-9GycpJnliUjJDVDqP0UEu/bsm9U+3dnQUH8+3W10vkY=" crossorigin="anonymous"></script>
    </environment>

    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-sm bg-light navbar-light">
            @if (signInManager.IsSignedIn(User) && (await authorizationService.AuthorizeAsync(User, "ServiceViewers")).Succeeded)
            {
                <a class="navbar-brand" asp-controller="home" asp-action="index">
                    <img src="~/images/logo.png" height="30" width="30" />
                </a>
            }
            else
            {
                <img src="~/images/logo.png" height="30" width="30" />
            }

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">

                <ul class="navbar-nav">
                    @if (signInManager.IsSignedIn(User) && (await authorizationService.AuthorizeAsync(User, "ServiceViewers")).Succeeded)
                    {
                        <li class="nav-item  mr-2">
                            <a class="nav-link" asp-controller="home" asp-action="Index">Inicio</a>
                        </li>
                        <li class="dropdown-divider"></li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="home" asp-action="ListAll">Listar Servicios</a>
                        </li>
                    }
                    @if (signInManager.IsSignedIn(User) && (await authorizationService.AuthorizeAsync(User, "ServiceManagers")).Succeeded)
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="home" asp-action="Create">Crear Servicio</a>
                        </li>
                    }
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="dropdown-divider"></li>
                    @if (signInManager.IsSignedIn(User))
                    {
                        <li class="nav-item dropdown mr-1">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownLink"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Administración
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownLink">

                                @if ((await authorizationService.AuthorizeAsync(User, "AccountViewers")).Succeeded)
                                {
                                    <a class="dropdown-item" asp-action="ListUsers" asp-controller="Administration">Usuarios</a>
                                }

                                <a class="dropdown-item" asp-action="ChangePassword" asp-controller="Account">Cambiar contraseña</a>
                            </div>
                        </li>

                        <li class="nav-item">
                            <form class="m-0" asp-controller="Account" asp-action="Logout" method="post">
                                <button class="nav-link btn btn-link border-0" type="submit" style="width:auto">
                                    Logout:
                                    <p class="d-inline font-weight-bold font-italic">
                                        @User.Identity.Name
                                    </p>
                                </button>
                            </form>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Account" asp-action="Register">Regístrate</a>
                        </li>
                        <li class="nav-item ml-1">
                            <a class="nav-link" asp-controller="Account" asp-action="Login">Iniciar Sesión</a>
                        </li>
                    }
                </ul>
            </div>
        </nav>

        <div class="m-1">
            @RenderBody()
        </div>
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>