<div class="alert alert-danger m-3">
    <h1 class="h4 mb-3">
        Ha ocurrido un error al procesar su solicitud.
        <img src="~/images/error.png" width="100" height="100" />
    </h1>
    <hr />
    <p class="text-info m-1">Contactese con el administrador a: administrator@administrator.xyz</p>
</div>
<a class="btn btn-outline-info ml-3"
   asp-action="Index" asp-controller="Home" style="width: auto;">Ir al Inicio</a>