@model string

@{
    ViewBag.Title = "Not Found";
}

<div class="alert alert-danger m-3">
    <h1 class="h4 mb-3">
        Lo sentimos
        <img src="~/images/notFound.png" width="80" height="80" />
    </h1>
    <h2 class="h5 text-center">
        La página que busca no pudo ser encontrada.
        <hr />
        <h3 class="h6 text-danger text-right" style="font-size:smaller;">
            Error: @Model
        </h3>
    </h2>
</div>
<a class="btn btn-outline-info ml-3"
   asp-action="Index" asp-controller="Home" style="width: auto;">Ir al Inicio</a>