version: '3.7'

services:
    db:
        image: postgres:12.1
        environment: 
            - POSTGRES_USER=${POSTGRES_USER}
            - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
            - POSTGRES_DB=${POSTGRES_DB}
        ports:
            - "55342:5432"
        volumes: 
            - ./init_schema.sh:/docker-entrypoint-initdb.d/1-init_schema.sh
            - dbpostgres:/var/lib/postgresql/data
        networks:
            - net1

    webapp:
        build:
            context: .
            dockerfile: ./HomeAssets/Dockerfile
        ports: 
            - "80:80"
            - "443:443"
        environment: 
            - ConnectionStrings:HomeAssetsDB=${CS}
            - SmtpSettings:From=${From}
            - SmtpSettings:Server=${MailServer}
            - SmtpSettings:Username=${MailUsername}
            - SmtpSettings:Password=${MailPassword}
            - ASPNETCORE_ENVIRONMENT=Production
            - DOTNET_RUNNING_IN_CONTAINER=true
            - DOTNET_USE_POLLING_FILE_WATCHER=1

        volumes:
            - ./DPkeys:/root/.aspnet/DataProtection-Keys
        networks:
            - net1
            - mailserver_net
        depends_on:
            - db
volumes: 
    dbpostgres:

networks:
    net1:
    mailserver_net:
        external: true