@{
    ViewBag.Title = "Acceso Denegado";
}

<div class="row mt-5">
    <div class="col-12 text-center">
        <h1 class="text-danger">Acceso Denegado</h1>
        <h3>No cuenta con los permisos suficientes para realizar dicha acción</h3>
        <div>
            <img src="~/images/accessDenied.png" width="300" height="300" />
        </div>
    </div>
</div>