@model AddLocalPassword_vmodel
@{
    ViewBag.Title = "Agregar contraseña local";
}

<h1 class="mt-3" style="font-family:Arial">Agregar una contraseña local</h1>

<p class="text-info my-2">
    Has iniciado sesión mediante una cuenta externa y no tienes una contraseña local.<br />
    Aquí puedes configurar una contraseña local para iniciar sesión.<br />
    Podrás iniciar sesión tanto con tu cuenta externa como tambien de manera local mediante tu correo electronico y la contraseña definida aquí.
</p>

<div class="row justify-content-center mt-2">
    <div class="col-sm-12 col-md-7 col-lg-5 col-xl-4">
        <form method="post">
            <div class="text-danger mt-2" asp-validation-summary="All"></div>
            <hr />
            <div class="form-group">
                <label class="font-weight-bold" asp-for="LocalPassword"></label>
                <input class="form-control" placeholder="Contraseña" asp-for="LocalPassword" />
                <span class="text-danger" asp-validation-for="LocalPassword"></span>
            </div>
            <div class="form-group">
                <label class="font-weight-bold" asp-for="ConfirmPassword"></label>
                <input class="form-control" placeholder="Contraseña" asp-for="ConfirmPassword" />
                <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
            </div>

            <button class="btn btn-primary my-2" type="submit" style="width: auto;">Cambiar Contraseña</button>
            <hr />
        </form>
    </div>
</div>