@model ChangePassword_vmodel

@{
    ViewBag.Title = "Cambiar Contraseña";
}

<h1 class="font-italic mt-3">Cambiar Contraseña</h1>

<div class="row justify-content-center mt-2">
    <div class="col-4">
        <form method="post">
            <div class="text-danger mt-2" asp-validation-summary="All"></div>
            <hr />
            <div class="form-group">
                <label class="font-weight-bold col-form-label" asp-for="CurrentPassword"></label>
                <input class="form-control" placeholder="Usuario o Email" asp-for="CurrentPassword" />
                <span class="text-danger" asp-validation-for="CurrentPassword"></span>
            </div>
            <div class="form-group">
                <label class="font-weight-bold" asp-for="NewPassword"></label>
                <input class="form-control" placeholder="Contraseña" asp-for="NewPassword" />
                <span class="text-danger" asp-validation-for="NewPassword"></span>
            </div>
            <div class="form-group">
                <label class="font-weight-bold" asp-for="ConfirmPassword"></label>
                <input class="form-control" placeholder="Contraseña" asp-for="ConfirmPassword" />
                <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
            </div>

            <button class="btn btn-primary my-2" type="submit" style="width: auto;">Cambiar Contraseña</button>
            <hr />
        </form>
    </div>
</div>