@model bool

@if (Model)
{
    <h3 class="mt-5 font-weight-bold">Gracias por confirmar su dirección de correo.</h3>
    <h4 class="mt-2 text-primary">Confirmación Exitosa</h4>
    <h4 class="mt-2 font-weight-bold"> Vuelva a iniciar sesión para efectuar los cambios.</h4>
}
else
{
    <h3 class="mt-5 font-weight-bold">Lo sentimos,</h3>
    <h4 class="mt-2 text-danger">el enlace de confirmación no es valido.</h4>
    <h4 class="mt-2 font-weight-bold">Pruebe iniciar sesión nuevamente o solicite un nuevo correo de validación.</h4>

}