@model bool

@if (Model)
{
    <h3 class="mt-5 font-weight-bold">Gracias por confirmar su dirección de correo.</h3>
    <h4 class="mt-2 text-primary">Confirmación Exitosa</h4>
}
else
{
    <h3 class="mt-5 font-weight-bold">Lo sentimos.</h3>
    <h4 class="mt-2 text-danger">La confirmación falló</h4>
}