@{
    ViewBag.Title = "Olvidaste tu contraseña";
}

<h4 class="mt-4 text-info">
    Si tienes una cuenta con nosotros, te hemos enviado un correo con las instrucciones para reiniciar tu contraseña.
</h4>