@{
    ViewBag.Title = "Confirmación de restablecimiento";
}

<h3 class="mt-4">
    Tu contraseña se restableció.
</h3>
<h4 class="mt-4 text-info">

    Si todo esta en orden, deberias poder iniciar sesión nuevamente:
</h4>
<h4 class="btn-link">
    Has click <a asp-action="Login">aqui para Iniciar Sesion</a>
</h4>