@model ResetPassword_vmodel

@{
    ViewBag.Title = "Restablecer Contraseña";
}

<h1 class="font-italic mt-3">Restablecer contraseña</h1>

<div class="row justify-content-center mt-2">
    <div class="col-4">
        <form method="post">

            <input type="hidden" asp-for="Token" />
            <input type="hidden" asp-for="Email" />

            <div class="form-group">
                <label class="font-weight-bold" asp-for="NewPassword"></label>
                <input class="form-control" placeholder="Nueva Contraseña" asp-for="NewPassword" />
                <span class="text-danger" asp-validation-for="NewPassword"></span>
            </div>
            <div class="form-group">
                <label class="font-weight-bold" asp-for="ConfirmPassword"></label>
                <input class="form-control" placeholder="Confirmar Contraseña" asp-for="ConfirmPassword" />
                <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
            </div>

            <div class="text-danger mt-2" asp-validation-summary="All"></div>

            <button class="btn btn-primary my-2" type="submit" style="width: auto;">Restablecer</button>
        </form>
    </div>
</div>