@model bool

@{
    ViewBag.Title = "Sin Permisos";
}

<div class="text-center mt-5">
    <h5>
        <b>Estado de correo electronico: </b>
        @if (Model)
        {
            <span style="color: darkgreen">Confirmado</span>
        }
        else
        {
            <span style="color: darkred">Sin Confirmar</span>
            <p>
                Debe confirmar su correo para acceder en una proxima ocasión.
            </p>
        }
    </h5>
    <h4 class="my-5">Ud. requiere que un administrador le asigne permisos para poder usar esta página.</h4>
    <div>
        <img class="rounded border" src="~/images/withoutClaims.png" width="250" height="250" />
    </div>
</div>