@model AuthorizedEmails_vmodel

@{
    ViewBag.Title = "Correos Autorizados";
}

<h1 class="mt-3" style="font-family:Arial">Correos autorizados para registrarse</h1>

<a class="btn btn-primary" style="width:auto" asp-action="AuthorizeAnEmail">Autorizar Nuevo Correo</a>
<div class="card mt-2">
    <div class="card-body">
        @if (Model.AlreadyAuthorizedEmails.Any())
        {
            for (int i = 0; i < Model.AlreadyAuthorizedEmails.Count(); i++)
            {
                <form class="mt-3" enctype="multipart/form-data" method="post"
                      asp-controller="Administration" asp-action="DeleteAuthorizedEmails" asp-route-email="@Model.AlreadyAuthorizedEmails[i]">

                    <span id="deleteSpan_@i">
                        <a href="#" class="btn btn-danger p-0 mb-1" onclick="confirmDelete('@i', true)" style="width: 100px; height:auto;">Borrar</a>
                    </span>
                    <span class="mt-1" id="confirmDeleteSpan_@i" style="display:none;">
                        <span class="text-danger">¿Borrar correo?</span>
                        <button type="submit" class="btn btn-danger p-1" style="width: 48px;">Si</button>
                        <a href="#" class="btn btn-primary p-1" onclick="confirmDelete('@i', false)"
                           style="width: 48px;">No</a>
                    </span>
                    <span class="text-body mb-1" style="font-size:large;">--> @Model.AlreadyAuthorizedEmails[i]</span>
                </form>

            }
        }
        else
        {
            <h5> No hay correos autorizados para registrarse </h5>
        }
    </div>
</div>

@section Scripts{

    <script src="~/js/functions.js"></script>
}